<h1>User info</h1>
  <%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
  <h4>name <%= user.name %></h4>
  <h4>introduction <%= user.introduction %></h4>
<%= link_to "編集ロゴ", edit_user_path(user.id) %>
